@(postForm : Form[Post])
@blogmain {
    <h2>Ny bloggpost</h2>

        @helper.form(action = routes.Application.createPost()) {

        @helper.inputText(postForm("caption"))
        @helper.inputText(postForm("body"))
        @helper.inputText(postForm("tags"))
        <!--@helper.inputText(field = postForm("caption"), '_label -> "Account Name: ", 'placeholder-> "Test")-->


<input type="submit" value="Skicka" />
        }
<!--
    <form action="@routes.Application.newPost()" method="post">

        @if(postForm != null) {
            @postForm.errors
        }
        <div>
            <div><label for="caption">Rubrik:</label></div>
            <input id="caption" name="caption" />
        </div>

        <div style="margin-top: 10px;">
            <div><label for="body">Innehåll:</label></div>
            <textarea id="body" name="body" rows="3" style="width: 80%; margin-bottom: 5px;"></textarea>
        </div>

        <div style="margin-top: 10px;">
            <div><label for="tags">Taggar:</label></div>
            <input id="tags" name="tags" />
        </div>

        <input type="submit" value="Skicka" />
    </form> -->
}